{% include 'header.twig' %}
<h1 class="text-center">Podcasts</h1>
<div class="row">
	<h2>Sök Podcasts</h2>
	<form method="get" action="/search">
		<input id="search" name="search" type="search" placeholder="i.e. Värvet" />
		<input type="submit" value="Search" />
	</form>
</div>
<div class="row">
	<h2>Resultat</h2>
	{% for podcast in podcasts %}
		<div class="col-md-6">
			{{ podcast.collectionName }}
		</div>
		<div class="col-md-6">
			<a href="/podcast/{{ podcast.collectionId }}/reviews">
				Reviews
			</a>
		</div>	
	{% endfor %}
</div>
{% include 'footer.twig' %}